.btn {
  cursor: pointer;
}
body {
  color: rgb(120, 187, 207);
  display: flex;
  justify-content: center;
  align-items: center;
}
.clicked {
  color: #1abc9c;
}
.form,
.greetings {
  display: none;
}
.showing {
  display: block;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.first_main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;

  /* position: relative; */
}
.js-clock h1 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
  font-size: 70px;
}

.js-greetings {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 600;
  color: darkslategray;
}
.js-form {
  width: 100%;
  margin-bottom: 10px;
}
.js-form input {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 10px;
  border-style: none;
  text-align: center;
  margin-bottom: 10px;
}
.js-toDoForm {
  width: 100%;
}
.js-toDoForm input {
  border-radius: 10px;
  border: 1px solid black;
  border-style: none;
  text-align: center;
  width: 100%;
  height: 30px;
}
.js-toDoListContainer {
  display: flex;
  justify-content: flex-start;
  width: 90%;
}
.js-toDoList {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.js-toDoList li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.js-toDoList li button {
  border-radius: 50%;
  border-style: none;
  margin-right: 5px;
  color: white;
  background-color: black;
}

.js-weather {
  color: white;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: 20px;
  right: 30px;
}
